mpd/.config/mpd/pid
mpd/.config/mpd/state
mpd/.config/mpd/playlists
mpd/.config/mpd/database
ncmpcpp/.config/ncmpcpp/error.log
vim/.vim/.netrwhist
vim/.vim/plugged
nvim/.config/nvim/plugged
nvim/.config/nvim/backup
zsh/.config/zsh/plugins
zsh/.config/zsh/.zcompdump
*.o
.ccls-cache/
