mpd/.config/mpd/pid
mpd/.config/mpd/state
mpd/.config/mpd/playlists
mpd/.config/mpd/database
ncmpcpp/.config/ncmpcpp/error.log
vim/.vim/plugged
vim/.vim/.netrwhist
nvim/.config/nvim/plugged
zsh/.config/zsh/plugins
*.o
