configuration {
    icon-theme: "Papirus";
    modi:"run,drun,filebrowser";
    font: "FiraCode Nerd Font Regular 13";
    show-icons: true;
    icon-theme: "Papirus";
}

@theme "gruvbox-material-dark"
