SUBSYSTEM="usb",ATTR{idVendor}"04e8", MODE="0660", GROUP="adbusers"
SUBSYSTEM="usb",ATTR{idVendor}"04e8",ATTR{idProduct}=="6860",SYMLINK+="android_asb"
SUBSYSTEM="usb",ATTR{idVendor}"04e8",ATTR{idProduct}=="6860",SYMLINK+="android_fastboost"
