@import "Themes/grubox-theme.css";

window#waybar {
    font-family: inherit;
    font-size: 17px;
    border-radius: 10px;
    background: @theme_base_color;
    color: @theme_text_color;
}

#workspaces button {
    padding: 3px;
    margin: 7px 0px 7px 7px;
    background: transparent;
    border-radius: 4px; 
    color: white;
}

#workspaces button.active {
    color: black;
    background: @white;
    font-weight: 700;
}


#power-profiles-daemon,
#network,
#pulseaudio,
#clock,
#tray,
#custom-power {
    border-radius: 8px;
    padding: 5px 12px;
    margin: 5px 10px 5px 0px;
    color: @black-dark;
    font-weight: 700;
}

#network {
    background: @yellow-dark;
}

#pulseaudio {
    background: @blue-dark;
}

#tray {
    background: @cyan-dark;
}

#clock {
    background: @magenta-dark;
}

#custom-power {
    background: @red-dark;
}
