/* Gruvbox Material Dark */
@define-color highlight rgba(226,212,186,1);
@define-color black     rgba(29,32,33,1);
@define-color red       rgba(234,105,98,1);
@define-color green     rgba(169,182,101,1);
@define-color yellow    rgba(216,166,87,1);
@define-color blue      rgba(125,174,163,1);
@define-color magenta   rgba(211,134,155,1);
@define-color cyan      rgba(137,180,114,1);
@define-color white     rgba(213,190,152,1);

window#waybar {
    font-family: inherit;
    font-size: 17px;
    border-radius: 10px;
    background: @theme_base_color;
    color: @theme_text_color;
}

#workspaces button {
    padding: 3px;
    margin: 7px 0px 7px 7px;
    background: transparent;
    border-radius: 4px; 
    color: white;
}

#workspaces button.active {
    color: black;
    background: @highlight;
    font-weight: 700;
}


#power-profiles-daemon,
#network,
#pulseaudio,
#clock,
#tray,
#custom-power {
    border-radius: 8px;
    padding: 5px 12px;
    margin: 5px 10px 5px 0px;
    color: @black;
    font-weight: 700;
}

#network {
    background: @yellow;
}

#pulseaudio {
    background: @blue;
}

#tray {
    background: @cyan;
}

#clock {
    background: @magenta;
}

#custom-power {
    background: @red;
}
